body {
  background-color: #fefbd8;
}

h1 {
  background-image: url("../img/sad-cow.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  padding: 50px;
  text-align: center;
  font-size: 75px;
}

p {
  text-align: center;
}

.animal img {
  width: 95%;
  height: 250px;
}

.animal p {
  text-align: justify;
  width: 95%;
  margin: 0px;
}

#intro {
  font-style: italic;
  font-size: 16pt;
}

.animal h3 {
  text-align: center;
  color:  #618685;
  font-size: 24pt;
  margin: 5px;
}

#contact {
  color: #80ced6;
}

@media screen and (min-width: 1000px) {
  body {
    margin: 25px;
  }

  .animal {
    float: left;
    width: 25%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
  body {
    margin: 25px;
    background-color: white;
  }
  .animal {
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  body {
    margin: 5px;
    background-color: black;
    color: white;
  }

  .animal {
    float: left;
    width: 100%;
  }
}
